<html>
<head>
<!--Element-elemen tag <head> tulis disini-->
<title>SEJARAH KOMPUTEr</title>
<link rel="stylesheet" href="layout.css" />
</head>

<style>
	
	ul {
  		list-style-type: none;

	}
</style>

<body>
<!--Element-elemen tag <body> tulis disini-->

<header> <!--Section HEADER-->
	<div class="logo">
		<h1>Hanif Hidayat</h1>
		<h4>16 INFORMATIKA 08</h4>
	</div>
	<div class="navigasi">
			<ul>
				<li><a href="index.html">HOME</a></li>
				<li><a href="sejarah.html">SEJARAH INTERNET</a></li>

			</ul>
	</div>
</header>

<main> <!--Section MAIN BODY-->
	<div class="konten">
		<div class="padding_this">
			<h2>
				HOLA
			</h2>
			<p>
				Muhammad Hanif Hidayat	
			</p>
		</p>16.11.0496</p>
		</div>
	</div>
	<div class="sidebar">
		<div class="padding_this">
			
			<ul>
				<li><a href="http://instagram.com/">Instagram</a></li>
				<li><a href="http://facebook.com">Facebook</a></li>
				<li><a href="http://facebook.com">Twitter</a></li>

			</ul>
		</div>
	</div>
</main>

<footer> <!--Section FOOTER-->
	<div class="footer">
		<small>PEMROGAMAN WEB 2018</small>
	</div>
</footer>

</body>
</html>